{% extends "layout.html" %}

{% block title %}
    My Quizzes
{% endblock %}

{% block main %}
    <h1>My Quizzes</h1>
    <ul>
        {% for quiz in quizzes %}
            <li>
                {{ quiz.question }}
                <form action="/delete/{{ quiz.id }}" method="post" style="display: inline;">
                    <h4 name="quiz_id" value="{{ quiz.id }}">{{ quiz.id }}</h4>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <a href="/view/{{ quiz.id }}" class="btn btn-primary">View</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
