{% extends "layout.html" %}

{% block title %}
    View Quiz
{% endblock %}

{% block main %}
    <h1>{{ quiz.id }}</h1>
    <ul>
        {% for question in questions %}
            <li>
                <h3>Question : {{ question.question }}</h3>
                <ul>
                    {% for answer in answers[question.id] %}
                        <li>Ans : {{ answer.answer }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
