{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <td>Stock :</td>
            <td>Shares :</td>
            <td>Price :</td>
            <td>Type :</td>
            <td>Date and Time :</td>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction["symbol"] }}</td>
                <td>{{ transaction["shares"] }}</td>
                <td>{{ transaction["price"] | usd }}</td>
                <td>{{ transaction["type"] }}</td>
                <td>{{ transaction["datetime"] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
